.development {
    background: url(../images/development-bg.jpg) no-repeat center;
    min-height: 382px;
    padding-top: 80px;
  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
    &__item {
        max-width: 360px;
        margin-bottom: 20px;
        padding-top: 50px;
        background: url(../images/development__icon.png) no-repeat;
        font-size: 13px;
        font-weight: 300;
    }
    &__title {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
    }
    &__link {
        display: block;
        width: 90px;
        height: 28px;
        background-color: #262626;
        color: #fcfcfc;
        text-decoration: none;
        line-height: 28px;
      font-weight: 700;
        padding-left: 15px;
        &:hover {
            background-color: $accentColor;
        }
    }
  @media($tablet-widths) {
    &__items{
      flex-wrap: nowrap;
    }
    &__item{
      @include marginLeft();
    }
  }
}