@import "../../../node_modules/fontawesome-scss/fontAwesome";
.header {
  position: relative;
  width: auto;
  min-height: 980px;
  padding-top: 200px;
  text-align: center;
  z-index: 2;
  &__img,
  &__img::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__img{
    @include noList;
    li span {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      color: transparent;
      background-color: $accentColor;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: none;
      opacity: 0;
      z-index: 0;
      animation: imageAnimation 36s linear infinite 0s;
    }
    li:nth-child(1) span {
      background-image: url(../images/background-1.jpg)
    }
    li:nth-child(2) span {
      background-image: url(../images/background-2.jpg);
      animation-delay: 6s;
    }
    li:nth-child(3) span {
      background-image: url(../images/background-1.jpg);
      animation-delay: 12s;
    }
    li:nth-child(4) span {
      background-image: url(../images/background-2.jpg);
      animation-delay: 18s;
    }
    li:nth-child(5) span {
      background-image: url(../images/background-1.jpg);
      animation-delay: 24s;
    }
    li:nth-child(6) span {
      background-image: url(../images/background-2.jpg);
      animation-delay: 30s;
    }
  }
  &__img::after {
    content: '';
  }
  @keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
  }

  &__title {
    color: #fefefe;
    font-size: 38px;
    line-height: 25px;
    font-weight: 100;
    margin-top: 90px;
    b{
      font-weight: 600;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

.logo {
  display: block;
  width: 146px;
  height: 133px;
  background: url(../images/logo.png) no-repeat;
  margin: auto;
}

.social {
  margin-top: 60px;
  &__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    border: 2px solid transparent;
    @include marginRight(15px);
    span{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      text-indent: -9999px;
    }
    &--facebook{
      span{
        @include fa($fa-facebook,#fff,18px);
      }
    }
    &--twitter{
      span{
        @include fa($fa-twitter,#fff,18px);
      }
    }
    &--googlePlus{
      span{
        width: 16px;
        height: 15px;
        background-image: svg-load("../images/google+.svg", fill="#fff");
      }
    }
    &--dribbble{
      span{
        @include fa($fa-dribbble,#fff,18px);
      }
    }
    &--linkedIn{
      span{
        @include fa($fa-linkedin,#fff,18px);
      }
    }
    &--behance{
      span{
        width: 23px;
        height: 20px;
        background-image: svg-load("../images/behance.svg", fill="#fff");
      }
    }
    &:hover {
      border: 2px solid #fff;
    }
  }
}
#counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
  min-height: 147px;
  margin: 55px auto 0 auto;
  margin-top: 80px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 92px;
  color: #272727;
  text-shadow: 0 1px 0 #fff;
}

.countDays,
.countHours,
.countMinutes,
.countSeconds {
  float: left;
  width: 147px;
  height: 147px;
  padding-left: 36px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: transparent;
  border: 4px solid #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 100%;
  -moz-box-shadow: 0 2px 3px 0 rgba(255, 255, 255, .2) inset, 0 2px 2px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 2px 3px 0 rgba(255, 255, 255, .2) inset, 0 2px 2px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 3px 0 rgba(255, 255, 255, .2) inset, 0 2px 2px 0 rgba(0, 0, 0, .1);
}

.points {
  display: none;
  float: left;
  width: 40px;
  margin: 0;
  font-family: Georgia, serif;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  line-height: 138px;
  text-shadow: none;
}

.position {
  position: relative;
  float: left;
  width: 35px;
  height: 52px;
  margin: 40px 1px 0 0;
}

.digit {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-family: Raleway;
  font-size: 72px;
  font-weight: 500;
  line-height: 25px;
}

.boxName {
  float: left;
  width: 80px;
  margin: 2px 0 0 -3px;
  font-size: 14px;
  color: #fefefe;
  font-family: Raleway;
  font-weight: 500;
}

.Hours {
  margin-left: 5px;
}

.Seconds {
  margin-left: 2px;
}