.information {
  background-color: white;
    min-height: 430px;
    padding-top: 100px;
  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
    &__item{
        &:last-of-type{
         padding-left: 30px;
          background: url("../images/information__icon.png") no-repeat;
        }
    }
  @media($tablet-widths) {
    &__items {
      flex-wrap: nowrap;
      justify-content: space-around;
    }
  }
  @media($desktop-widths) {
    min-height: 350px;
  }
}