.twitter{


  background: $accentColor;
  height: 328px;
  padding-top: 70px;
  text-align: center;
  color: #fff;
  font-weight: 100;
  font-size: 18px;
  &-svg{
    width: 48px;
    height: 38px;
    fill:#fff;
    margin-bottom: 30px;
  }
  a{
    color: #fff;
    font-weight: 600;
    @include noDecor;
  }
  p{
    max-width: 774px;
    margin-left: auto;
    margin-right: auto;
  }
  &__text{
    font-weight: 600;
    margin-top: 30px;
  }
}